/* #region Variables */
:root {
    /* Fonts */
    --font-family-main: "Roboto", sans-serif;
    --font-family-logo: "Raleway", sans-serif;

    /* Colors */
    --color-primary: #4d5ae5;
    --color-secondary: #2e2f42;
    --color-text: #434455;
    --color-bg: #FFFFFF;
    --color-hover: #404bbf;
    --color-footer-bg: #2e2f42;
    --color-footer-text: #F4F4FD;
    --color-footer-logo: #4d5ae5;

    /* Others */
    --font-size-main: 16px;
    --font-weight-normal: 500;
    --letter-spacing-normal: 0.02em;
    --line-height-main: 1.5;

    --items: 4;
    --intent-col: 32px;
    --indent-row: var(--indent-col);

}

/* #endregion Variables */

/* #region Base */
body {
    font-family: var(--font-family-main);
    color: var(--color-text);
    background-color: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

a {
    text-decoration: none;
    color: currentColor;
}


/* #endregion */
/* #endregion Base */

/* #region Common */


/* Socials */




/* Buttons */
.hero-button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: var(--color-primary);
    font-family: var(--font-family-main);
    font-weight: var(--font-weight-normal);
    font-size: 16px;
    line-height: var(--line-height-main);
    letter-spacing: 0.04em;
    text-align: center;
    padding: 16px 32px 16px 32px;
    color: var(--color-bg);
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--color-hover);
}

/* Card set */
/* #endregion Common */

/* #region Header */

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 100%;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    padding: 24px 156px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 100%;
    box-sizing: border-box;
}

.nav {
    display: flex;
    align-items: center;
}



.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    padding: 24px 0;
    font-size: 16px;
}

.logo {
    display: flex;
    align-items: center;
    height: 24px;
    font-family: var(--font-family-logo);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-primary);
    margin-right: 76px;
}

.logo-span {
    color: var(--color-secondary);
}

.contact-list {
    display: flex;
    gap: 40px;
}

.header-contact {
    display: flex;
    align-items: center;
}

.contact-link {
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
    letter-spacing: var(--letter-spacing-normal);
    color: var(--color-text);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--color-hover);
}

/* #endregion Header */

/* #region Hero */
.section-hero {
    padding: 188px 0;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    box-sizing: border-box;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.hero-title {
    max-width: 496px;

    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: var(--letter-spacing-normal);
    color: var(--color-bg);
}

/* #endregion Hero */

/* #region Services */
.section-services {
    padding: 120px 0;
    position: relative;
}

.services-container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 100%;
}

.services-title {
    margin-bottom: 8px;
    font-weight: var(--font-weight-normal);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: var(--letter-spacing-normal);
    color: var(--color-secondary);
    text-align: center;
    visibility: hidden;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    border: 0;
    overflow: hidden;
}

.service-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc((100% - 72px) / 4);
}

.service-title {
    font-size: 20px;
    margin-bottom: 8px;
    text-align: left;
}

.service-description {
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
    letter-spacing: var(--letter-spacing-normal);
    text-align: left;
}

/* #endregion Services */



/* #region Team */
.section-team {
    padding: 120px 0;
    background-color: #F4F4FD;
}

.team-container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 100%;
}

.team-header {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: var(--letter-spacing-normal);
    text-transform: capitalize;
    color: var(--color-secondary);
}

.team-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.team-item {
    flex: 1 1 calc((100% - 72px) / 4);
    background-color: var(--color-bg);
    border-radius: 0 0 4px 4px;
}


.team-member-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-member-info {
    padding: 32px 0;
    text-align: center;
}

.team-member-name {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: var(--letter-spacing-normal);
    text-transform: capitalize;
    color: var(--color-secondary);
}

.team-member-role {
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
    letter-spacing: var(--letter-spacing-normal);
    text-align: center;
}



/* #endregion Team */

/* #region Portfolio */
.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-container {

    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 100%;

}

.portfolio-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: var(--letter-spacing-normal);
    text-transform: capitalize;
    color: var(--color-secondary);
    font-weight: var(--font-weight-normal);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    background-color: var(--color-bg);
}

.portfolio-content {
    overflow: hidden;
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-app-title {
    text-align: left;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: var(--letter-spacing-normal);
    text-transform: capitalize;
    color: var(--color-secondary);
    font-weight: var(--font-weight-normal);
}


.portfolio-category {
    margin-top: 0;
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
    letter-spacing: var(--letter-spacing-normal);
    color: var(--color-text);
}

/* #endregion Portfolio */


/* #region Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 0;
    background-color: var(--color-footer-bg);
}

.footer-container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 100%;
}

.footer-logo {
    display: inline-block;
    color: var(--color-footer-logo);
    font-size: 18px;
    text-align: center;
    margin-bottom: 16px;
}

.footer-web {
    color: var(--color-footer-text);
}

.footer-logo {
    font-family: var(--font-family-logo);
    font-weight: 700;
    text-transform: uppercase;
}

.footer-text {
    max-width: 264px;
    text-align: left;
    color: var(--color-footer-text);
    font-size: 16px;
}

/* #endregion Footer */