/* #region Variables */
:root {
    /* Fonts */
    --font-family-main: "Roboto", sans-serif;
    --font-family-logo: "Raleway", sans-serif;

    /* Colors */
    --color-primary: #4d5ae5;
    --color-secondary: #2e2f42;
    --color-text: #434455;
    --color-bg: #FFFFFF;
    --color-hover: #404bbf;
    --color-footer-bg: #2e2f42;
    --color-footer-text: #F4F4FD;
    --color-footer-logo: #4d5ae5;

    /* Others */
    --font-size-main: 16px;
    --font-weight-normal: 500;
    --letter-spacing-normal: 0.02em;
    --line-height-main: 1.5;

    --items: 4;
    --intent-col: 32px;
    --indent-row: var(--indent-col);

}

/* #endregion Variables */

/* #region Base */
body {
    font-family: var(--font-family-main);
    color: var(--color-text);
    background-color: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

a {
    text-decoration: none;
}


/* #endregion */
/* #endregion Base */

/* #region Common */


/* Socials */




/* Buttons */
.hero-button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--color-hover);
}

/* Card set */
/* #endregion Common */

/* #region Header */

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 100%;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}



.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-item {
    background-color: #fff;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;
}



.nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    width: 100%;
    height: 4px;
    border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
    color: #404bbf;
}


.logo {
    display: flex;
    align-items: center;
    height: 24px;
    font-family: var(--font-family-logo);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-primary);
    margin-right: 76px;
}

.logo-span {
    color: var(--color-secondary);
}

.header-contact {
    font-style: normal;
    margin-left: auto;
}

.contact-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contact-link {

    background-color: #fff;

}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cubic-bezier: (0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}


/* #endregion Header */




/* #region Hero */
.section-hero {
    margin: 0 auto;
    background-color: #2e2f42;
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    margin: 0 auto;
    box-sizing: border-box;

}



.hero-title {
    box-sizing: border-box;
    font-weight: 700;
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
}

/* #endregion Hero */

/* #region Services */
.section-services {
    padding: 120px 0;
}

.services-container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 100%;
    background-color: white;
}

.services-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    visibility: hidden;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    border: 0;
    overflow: hidden;
}

.service-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.service-icon {
    box-sizing: border-box;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    padding: 24px 100px;
    background: #f4f4fd;
    margin-bottom: 8px;
}

.service-list {
    display: flex;
    gap: 24px;

}

.service-item {
    width: calc((100% - 72px) / 4);
}

.service-title {
    margin: 0 0 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.service-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion Services */



/* #region Team */
.section-team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #f4f4fd;
}

.team-container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 100%;
}

.team-header {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-list {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    text-align: center;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 428px;
}

.team-member-info {
    padding: 32px 0;
}


.team-member-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    background: #fff;
}


.team-member-role {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons {
    fill: #f4f4fd;
}

.social-link:hover,
.social-link:focus,
.social-link:active {
    background-color: #404bbf;
}



/* #endregion Team */

/* #region Portfolio */
.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-container {

    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 100%;

}

.portfolio-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-content {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overapp-text {
    transform: translate(0);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.portfolio-app-title {
    padding: 32px 0 0 16px;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}


.portfolio-category {
    padding: 0 0 32px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-image-container {
    position: relative;
    overflow: hidden;
}

.overapp-text {
    position: absolute;
    top: 0;
    background-color: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion Portfolio */


/* #region Footer */


.footer-info {
    margin-right: 120px;

}

.footer .footer-container {
    display: flex;
    align-items: baseline;
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo .footer-web {
    color: #f4f4fd;
}

.text-footer {
    max-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.social-media-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.social-media-list {
    display: flex;
    gap: 16px;
}

.social-media-item {
    width: 40px;
    height: 40px;
}

.social-media-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-icon {
    fill: #f4f4fd;
}

.social-media-icon:hover,
.social-media-icon:active {
    background-color: #31d0aa;
}

.social-media-icon:focus {
    background-color: #31d0aa;
}



.footer-container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}


/* #endregion Footer */